@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"]</h2>
<h3>Enter your email</h3>
<hr />

<form asp-action="ForgotPassword" method="post">
    <div class="w3layoutscontaineragileits">
        <input asp-for="Email" placeholder="EMAIL" type="text" />
        <br />
        <span asp-validation-for="Email" class="text-danger" style="color:red"></span>

        <p style="text-align:center">
            <input type="submit" value="SUBMIT" />
        </p>
    </div>
</form>

<br />
<br />
<br />
<br />
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
