
@{
    ViewData["Title"] = "AdminMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AdminMain</h1>

<a href='@Url.Action("UserList", "Home")' style="color:white; font-size:xx-large">List all clients</a>
<br />
<a href='@Url.Action("DeleteUserList", "Home")' style="color:white; font-size:xx-large">Delete a client</a>
<br />
<a href='@Url.Action("EditUserList", "Home")' style="color:white; font-size:xx-large">Edit a client</a>
<br />
<a href='@Url.Action("Register", "Account")' style="color:white; font-size:xx-large">Register a client</a>