
@{
    ViewData["Title"] = "editUser";
}

<!-- <h2>editUser</h2> -->

<head>

    <h1> Edit Customer </h1>
     

</head>


<body>


    <p>
        Customer ID: <input type="text" name="custID" />
        <br />

        First Name: <input type="text" name="firstName" />
        <br />

        Surname: <input type="text" name="surName" />
        <br />

        Address: <input type="text" name="address" />
        <input type="text" name="addressLineTwo" />
        <br />

        City: <input type="text" name="city" />
        <br />

        PostCode: <input type="text" name="postCode" />
        <br />


        <input type="submit" value="Update" />


    </p>

</body>
