@model List<BankApp.Models.ApplicationUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User List</h2>
<table width="85%" class="table-hover">
    <thead>
        <tr>
            <th style="text-align:center"> User Name </th>
            <th style="text-align:center"> Email </th>
            <th style="text-align:center"> Address </th>
        </tr>
        @foreach (var user in Model)
        {
            <tr onclick="location.href = '@(Url.Action("Details", "Account", new { id = user.Id }))'" style="cursor:pointer">
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Address</td>
            </tr>
        }
    </thead>
</table>